body {
  font-family: "Roboto", sans-serif;
  background-color: #202124;
}
.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6dvh;
  padding: 0 15px 0 18px;
  border-bottom: solid #5f6368 1px;
  color: white;
}
.navBar {
  background-color: #202124;
  position: absolute;
  transition: 0.4s;
  display: flex;
  flex-flow: column;
  gap: 2em;
  width: 3vmin;
  height: 94dvh;
  padding: 0 15px 0 15px;
  overflow: hidden;
  flex-shrink: 0;
  /*  border-right: solid white 1px; */
}
.currentUser {
  border: solid #5f6368 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  padding: 5px;
}
.faIcon {
  color: white;
  display: flex;
  gap: 3em;
  align-items: center;
  border-radius: 50px;
}
.faIcon:hover {
  background-color: orange;
}
.faIcon div {
  width: 3em;

  font-size: 1.5em;
}
.faIcon:nth-child(1) {
  margin-top: 15px;
}
.svg-inline--fa.fa-fw {
  flex-shrink: 0;
  width: 24px;
}
.searchInput {
  transition: 0.15s;
  background-color: #525355;
  font-size: 1.5em;
  width: 20%;
  height: 75%;
  border-radius: 8px;
  border: none;
  padding: 0 10px 0 10px;
}
.searchInput:focus {
  transition: 0.15s;
  width: 35%;
}
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 3em;
}
.logo {
  font-size: 2em;
}
.contentWrapper {
  display: flex;
  padding: 25px;
  flex-direction: column;
  margin-left: 6vmin;
}
.notesWrapper {
  display: flex;
  flex-flow: row wrap;
  color: white;
  gap: 1em;
}
.addButton {
  width: 10%;
  border: #525355 solid 1px;
  color: white;
  background-color: #202124;
  border-radius: 10px;
  height: 30px;
  margin-top: 2em;
}
