body {
  background-color: rgb(29, 26, 26);
}
.header {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6dvh;
}
.navBar {
  background-color: greenyellow;
  display: flex;
  flex-flow: column;
  width: 8vmin;
  height: 94dvh;
}
.searchInput {
  width: 20%;
  height: 75%;
}
.logoWrapper {
  display: flex;
}
